body {
  margin: 0;
  background-color: rgb(10, 10, 10);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body > * {
  color: white;
}

#content {
  font-size: 2.5rem;
}

#morse-preview,
#letter-preview {
  font-size: 5rem;
}
